.pink {
        color: white;
        float: right;
}

.datePicker {
        color: white;
        background-color: gray;
        padding: 10px;
        margin: 10px;
        border: 5px solid;
        width: fit-content;
}

