.list{
    background-color: black;
    color: white;
    font-size: large;
}

.search {
    display: flex;
    position: 'relative';
    margin-left: 0;
    background-color: #e0e0e0;
    border: 5px solid #484848;
    width: fit-content;
    margin: 5px 0;
    padding: 2px 5px;
}

.searchIcon {
    padding: 0px 16px;
    height: '100%';
    position: 'absolute';
    pointer-events: 'none';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    color: #484848;
    cursor: pointer;
  }

.btn {
    float: right;
}

.searchBox {
    padding: 10px;
}

